@{
    ViewData["Title"] = "Home Base";
}
<script src="~/js/moment.min.js"></script>
<script src="~/js/Chart.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Humidor Readings</h1>
    <canvas id="myChart" width="400" height="200"></canvas>
    <script>
        var chartCanvas = document.getElementById("myChart");

        Chart.defaults.global.defaultFontFamily = "Lato";
        Chart.defaults.global.defaultFontSize = 18;

        var getJSON = function (url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'json';

            xhr.onload = function () {
                var status = xhr.status;

                if (status == 200) {
                    callback(null, xhr.response);
                } else {
                    callback(status);
                }
            };

            xhr.send();
        };

        function buildChart(data) {
            var timeStampLabels = data.map(function (e) {
                return e.timestamp;
            });
            var temperatureData = data.map(function (e) {
                return e.temperature;
            });
            var humidityData = data.map(function (e) {
                return e.relativeHumidity;
            });

            var sensorData = {
                labels: timeStampLabels,
                datasets: [{
                    borderColor: 'paleturquoise',
                    label: "Temperature",
                    yAxisID: 'temperatureAxis',
                    data: temperatureData,
                    fill: false
                },
                {
                    borderColor: 'tomato',
                    label: "Humidity",
                    yAxisID: 'humidityAxis',
                    data: humidityData,
                    fill: false
                }]
            };

            var chartOptions = {
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        boxWidth: 80,
                        fontColor: 'black'
                    }
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                            unit: 'hour',
                            unitStepSize: 10,
                            round: 'minute',
                            tooltipFormat: "hh:mm:ss a",
                            displayFormats: {
                                hour: 'MMM D, h:mm A'
                            }
                        }
                    }],
                    yAxes: [{
                        id: 'temperatureAxis',
                        position: 'left',
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 40
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Temperature"
                        }
                    },
                    {
                        id: 'humidityAxis',
                        position: 'right',
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 100
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Relative Humidity"
                        }
                    }]
                }
            };

            var lineChart = new Chart(chartCanvas, {
                type: 'line',
                data: sensorData,
                options: chartOptions
            });
        };

        getJSON('http://localhost:5020/v1/datalog?take=500', function (err, data) {
            if (err != null) {
                console.error(err);
            } else {
                console.log(data);
                buildChart(data);
            }
        });

    </script>
</div>
