@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <canvas id="myChart" width="400" height="200"></canvas>
    <script>
        var chartCanvas = document.getElementById("myChart");

        Chart.defaults.global.defaultFontFamily = "Lato";
        Chart.defaults.global.defaultFontSize = 18;

        var getJSON = function (url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'json';

            xhr.onload = function () {
                var status = xhr.status;

                if (status == 200) {
                    callback(null, xhr.response);
                } else {
                    callback(status);
                }
            };

            xhr.send();
        };

        function buildChart(data) {
            var timeStampLabels = data.map(function (e) {
                return e.timestamp;
            });
            var temperatureData = data.map(function (e) {
                return e.temperature;
            });
            var humidityData = data.map(function (e) {
                return e.relativehumidity;
            });

            var sensorData = {
                labels: timeStampLabels,
                datasets: [{
                    label: "Temperature",
                    data: temperatureData,
                }@*,
                {   label: "Humidity",
                    data: humidityData,
                }*@]
            };

            var chartOptions = {
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        boxWidth: 80,
                        fontColor: 'black'
                    }
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                            unit: 'hour',
                            unitStepSize: 0.5,
                            round: 'hour',
                            tooltipFormat: "h:mm:ss a",
                            displayFormats: {
                                hour: 'MMM D, h:mm A'
                            }
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            color: "black",
                            borderDash: [2, 5],
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Temperature in Celcius"
                        }
                    }]
                }
            };

            var lineChart = new Chart(chartCanvas, {
                type: 'line',
                data: sensorData,
                options: chartOptions
            });
        };

        getJSON('http://localhost:5000/v1/datalog?take=500', function (err, data) {
            if (err != null) {
                console.error(err);
            } else {
                console.log(data);
                buildChart(data);
            }
        });

    </script>
    @*<script>
            var speedCanvas = document.getElementById("myChart");

            Chart.defaults.global.defaultFontFamily = "Lato";
            Chart.defaults.global.defaultFontSize = 18;

            function hoursEarlier(hours) {
                return moment().subtract(hours, 'h').toDate();
            };

            var speedData = {
                labels: [hoursEarlier(10), hoursEarlier(9.4), hoursEarlier(8), hoursEarlier(7), hoursEarlier(6), hoursEarlier(5), hoursEarlier(4)],
                datasets: [{
                    label: "Car Speed",
                    data: [0, 59, 75, 20, 20, 55, 40],
                    lineTension: 0.25,
                    fill: false,
                    borderColor: 'orange',
                    backgroundColor: 'transparent',
                    pointBorderColor: 'orange',
                    pointBackgroundColor: 'rgba(255,150,0,0.5)',
                    borderDash: [5, 5],
                    pointRadius: 5,
                    pointHoverRadius: 10,
                    pointHitRadius: 30,
                    pointBorderWidth: 2,
                    pointStyle: 'rectRounded'
                }]
            };

            var chartOptions = {
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        boxWidth: 80,
                        fontColor: 'black'
                    }
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                            unit: 'hour',
                            unitStepSize: 0.5,
                            round: 'hour',
                            tooltipFormat: "h:mm:ss a",
                            displayFormats: {
                                hour: 'MMM D, h:mm A'
                            }
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            color: "black",
                            borderDash: [2, 5],
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Speed in Miles per Hour",
                            fontColor: "green"
                        }
                    }]
                }
            };

            var lineChart = new Chart(speedCanvas, {
                type: 'line',
                data: speedData,
                options: chartOptions
            });

        </script>*@
</div>
